<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0">
        {{ titulo }}
        <!--Interpolacion
          sirve para enviar datos desde el .ts hacia el html
          -->
      </h3>
    </div>
    <form [formGroup]="frm_Cliente" (ngSubmit)="grabar()">
      <div class="row">
        <div class="form-group mb-3">
          <label class="form-label" for="Cedula">Cedula</label>
          <input formControlName="Cedula" type="text" class="form-control" id="Cedula" placeholder="Ingrese la cedula Cedula" />
          <div *ngIf="frm_Cliente.get('Cedula').invalid && frm_Cliente.get('Cedula').touched">
            <small *ngIf="frm_Cliente.get('Cedula').hasError('required')" style="color: red">La cedula es requerida</small>
            <small *ngIf="frm_Cliente.get('Cedula').hasError('cedulaInvalida')" style="color: red">La cedula ingresa no es correcta</small>
            <small *ngIf="frm_Cliente.get('Cedula').hasError('provincia')" style="color: red">La provincia no existe</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="Nombres">Nombres</label>
          <input formControlName="Nombres" type="text" class="form-control" id="Nombres" placeholder="Ingrese los nombres" />
          <div *ngIf="frm_Cliente.get('Nombres').invalid && frm_Cliente.get('Nombres').touched">
            <small *ngIf="frm_Cliente.get('Nombres').hasError('required')" style="color: red">Los nombres son requeridos</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="Telefono">Telefono</label>
          <input type="text" formControlName="Telefono" class="form-control" id="Telefono" />
          <div *ngIf="frm_Cliente.get('Telefono').invalid && frm_Cliente.get('Telefono').touched">
            <small *ngIf="frm_Cliente.get('Telefono').hasError('required')" style="color: red">El telefono es requerido</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="Direccion">Direccion</label>
          <input type="text" class="form-control" formControlName="Direccion" id="Direccion" />
          <div *ngIf="frm_Cliente.get('Direccion').invalid && frm_Cliente.get('Direccion').touched">
            <small *ngIf="frm_Cliente.get('Direccion').hasError('required')" style="color: red">La direccion es requerida</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="Correo">Correo</label>
          <input type="email" formControlName="Correo" class="form-control" id="Correo" />
          <div *ngIf="frm_Cliente.get('Correo').invalid && frm_Cliente.get('Correo').touched">
            <small *ngIf="frm_Cliente.get('Correo').hasError('required')" style="color: red">El correo es requerido</small>
            <small *ngIf="frm_Cliente.get('Correo').hasError('email')" style="color: red">Debe ingresar un correo valido</small>
          </div>
        </div>
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="frm_Cliente.invalid">Grabar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
  IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
  
  
  
  
  
  INTRPOLACION => DESDE EL TS AL HTML
  {{ }} 
  EVENTOS => EJECUTAR FUNCIONES EN EL TS
  ()
  DATA BINDING => DESDE EL HTML AL TS
  []
  TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
  [()]
  -->
